@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */
@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 0%; /* Black */

    --primary: 0 0% 0%; /* Black */
    --primary-foreground: 0 0% 100%; /* White */

    --card: 0 0% 100%; /* White */
    --card-foreground: 0 0% 0%; /* Black */

    --popover: 0 0% 100%; /* White */
    --popover-foreground: 0 0% 0%; /* Black */

    --secondary: 0 0% 100%; /* White */
    --secondary-foreground: 0 0% 0%; /* Black */

    --muted: 0 0% 100%; /* White */
    --muted-foreground: 0 0% 0%; /* Black */

    --accent: 0 0% 100%; /* White */
    --accent-foreground: 0 0% 0%; /* Black */

    --destructive: 0 0% 0%; /* Black */
    --destructive-foreground: 0 0% 100%; /* White */

    --border: 0 0% 0%; /* Black */
    --input: 0 0% 0%; /* Black */
    --ring: 0 0% 0%; /* Black */

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%; /* Black */
    --foreground: 0 0% 100%; /* White */

    --muted: 0 0% 0%; /* Black */
    --muted-foreground: 0 0% 100%; /* White */

    --popover: 0 0% 0%; /* Black */
    --popover-foreground: 0 0% 100%; /* White */

    --card: 0 0% 0%; /* Black */
    --card-foreground: 0 0% 100%; /* White */

    --border: 0 0% 100%; /* White */
    --input: 0 0% 100%; /* White */

    --primary: 0 0% 100%; /* White */
    --primary-foreground: 0 0% 0%; /* Black */

    --secondary: 0 0% 0%; /* Black */
    --secondary-foreground: 0 0% 100%; /* White */

    --accent: 0 0% 0%; /* Black */
    --accent-foreground: 0 0% 100%; /* White */

    --destructive: 0 0% 0%; /* Black */
    --destructive-foreground: 0 0% 100%; /* White */

    --ring: 0 0% 100%; /* White */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.light {
  --background: 0 0% 100%; /* White */
  --foreground: 0 0% 0%; /* Black */

  --muted: 0 0% 100%; /* White */
  --muted-foreground: 0 0% 0%; /* Black */

  --popover: 0 0% 100%; /* White */
  --popover-foreground: 0 0% 0%; /* Black */

  --card: 0 0% 100%; /* White */
  --card-foreground: 0 0% 0%; /* Black */

  --border: 0 0% 0%; /* Black */
  --input: 0 0% 0%; /* Black */

  --primary: 0 0% 0%; /* Black */
  --primary-foreground: 0 0% 100%; /* White */

  --secondary: 0 0% 100%; /* White */
  --secondary-foreground: 0 0% 0%; /* Black */

  --accent: 0 0% 100%; /* White */
  --accent-foreground: 0 0% 0%; /* Black */

  --destructive: 0 0% 100%; /* White */
  --destructive-foreground: 0 0% 0%; /* Black */

  --ring: 0 0% 0%; /* Black */
}

.dotPattern {
  background-image: radial-gradient(black 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
